<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  .<br>
  Github: <a href="https://github.com/davitomix">@davitomix</a>.<br>
  Linkedin: <a href="https://www.linkedin.com/in/david-eli-martinez-garcia-3b659518b/">David Eli Martinez</a>.
</p>
